<a mat-list-item [routerLink]="['/yazi/', user._id]">
    <mat-card class="yazi-card flex flex-col m-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ yazi.baslik }}</mat-card-title>
          <mat-card-subtitle>{{ date(yazi.tarih) }}</mat-card-subtitle>
        </mat-card-header>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="w-full mb-2" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{ yazi.icerik }}
          </p>
        </mat-card-content>
        <mat-card-actions class="flex justify-end">
          <button mat-button>Devamını oku...</button>
        </mat-card-actions>
      </mat-card> 
</a>

<style>
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
</style>