<div class="main flex flex-row flex-wrap">
  <div class="wrapper w-full md:w-1/2 lg:w-1/3 pt-12 md:pt-12" *ngFor="let user of users">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg"
                alt="profile card">
        </div>
  
        <div class="profile-card__cnt js-profile-cnt">
            <a class="profile-card__name" [routerLink]="['/user/', user._id]">{{ user.adi }} {{user.soyadi }}</a>
            <div class="profile-card__txt">Front-end Developer from <strong>Mesopotamia</strong></div>
            <div class="profile-card-inf">
                <a class="profile-card-inf__item" [routerLink]="['/user/', user._id, 'takipciler']" >
                    <div class="profile-card-inf__title">{{ user.takipci != undefined ? user.takipci.length : 0 }}</div>
                    <div class="profile-card-inf__txt">Followers</div>
                </a>
                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{ user.takip != undefined ? user.takip.length : 0 }}</div>
                    <div class="profile-card-inf__txt">Following</div>
                </div>
                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{ user.yazi_adeti || 0 }}</div>
                    <div class="profile-card-inf__txt">Articles</div>
                </div>
            </div>
  
            <div class="profile-card-ctr">
                <button class="profile-card__button button--orange" [routerLink]="['/user/', user._id]">Profil</button>
                <button class="profile-card__button button--blue" *ngIf="user._id!=loggedInUser._id" (click)='takipEt(user._id)'>Takip</button>
            </div>
        </div>
    </div>
  
  </div>
</div>
<style>
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
</style>